<div class="">
  <div class="">
    <div class="">
      {% for comment in comments %}
      <!-- {% if not comment %} -->
        <h6 class="fw-bold text-primary mb-1">Izohlar yo`q!</h6>
      <!-- {% else %} -->
        <div>
          <h6 class="fw-bold text-primary mb-1">{{ comment.user }}</h6>
          <p class="text-muted small mb-0">{{ comment.created_at|timesince }}</p>
          <p class="mt-3 mb-4 pb-2">{{ comment.body }}</p>
        </div>
      
      <!-- {% endif %} -->
      {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <form style="width: 100%" method="POST" action="">
      {% csrf_token %}
      <div class="card-footer py-3 border-0">
        <div class="d-flex flex-start w-100">
          <div class="form-outline w-100">
            <textarea
              name="body"
              class="form-control"
              id="textAreaExample"
              rows="4"
              style="background: #fff"
            ></textarea>
            <label class="form-label" for="textAreaExample">Message</label>
          </div>
        </div>
        <div class="float-end mt-2 pt-1">
          <button type="submit" class="btn btn-primary btn-sm">
            Post comment
          </button>
        </div>
      </div>
    </form>
    {% else %}
      <hr>
      <p  > Yozish uchun <a href="{% url 'loginuser' %}?next={{ request.path }}"> Login </a> qilish kerak </p>
    {% endif %} 
  </div>
</div>
