{% extends 'main.html' %}

{% block content %}
<!-- Begin Jumbotron -->
<div class="jumbotron jumbotron-main" id="home">
  <div id="particles-js"></div><!-- /.particles div -->
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h1 class="scaleReveal">
          Salom Blog sahifaga hush kelibsiz</h1>
        <hr class="bottomReveal">
        <p class="bottomReveal">Yangiliklar &amp; modern design <i>+</i>&nbsp; code.</p>
        <a href="{% url 'news' %}"> Davom etish </a>
      </div><!-- /.column -->
    </div><!-- /.vertical center -->
  </div><!-- /.container -->
</div>
<!-- End Jumbotron -->
{% endblock content %}

    